<p>Your list of bookmarks </p>
<ol>
  <% @list.each do |bookmark| %>
  <li>
    <a href='<%= bookmark.url %>' target='blank'>
    <%= bookmark.title %>
  </a>

  <form action='bookmarks/delete' method='post'>
    <button type='submit' name='delete' id='delete <%= bookmark.title %>' value='<%= bookmark.id %>'> Delete </button>
  </form>

  </li>
  <% end %>
</ol>

<form action='bookmarks/create' method='post'>
  <input type='text' name='url' placeholder='url'>
  <input type='text' name='title' placeholder="title">
  <input type='submit' value='Submit'>
</form>
